.edit-box
  .post-wrapper
    .embed-wrapper
      = form_for(@content, :html => { :class => 'embed-fields' }) do |f|
        %fieldset
          = f.text_field :title, :placeholder => "Title", :class => "req"
          
          = f.text_area :description, :placeholder => "What do you want to tell your neighbors?", :class => "autosize req", :rows => "6"
        .button-wrapper
          = f.submit "Submit", :class => "submit"
