= render "header", :aboutus => true
.static-container
  %h1 5% + 25¢ per transaction
  .about-container
    That's it. 
  .about-container
    No monthly fees, no refund fees.
  %br
  %br
    = link_to "Get Started", twitter_auth_url, :class => "button"
