= render "header", :aboutus => true
.about-wrap
  .title-wrap
    %h1 5% + 25¢ per transaction
  .about-container
    That's it. 
  .about-container
    No monthly fees, no processing fees, no refund fees.
  .start-link
    = link_to "Get Started", twitter_auth_url, :class => "button"
