= render "header", :aboutus => true
.static-container
  %h1 About Tweetbay
  .about-container
    We enable anyone to sell directly to their audience on Twitter. Selling on Tweetbay is as easy as sharing a tweet. You won’t be asked to configure a store front. Our software automates customer emails, invoices, shipping labels, and package tracking, so you can post your first sale in under 1 minute.
  %br
  %br
  %h1 Why Tweetbay 
  .about-container
    eBay and Amazon charge a hefty 10-15% fee on every purchase, equating to 7 and 10 billion dollars in revenue per year. When you sell on our platform, we charge 1%.  We are taking money paid to eBay and putting it back in our seller’s pockets.
  
  %br
  %br
  = link_to "Get started", twitter_auth_url, :class => "button"
