= render "header", :howitworks => true
.title-wrap
  %h1 Why not just try it out?
.main-wrap
  = render partial: "contents/sample", :content => @content_sample
//= link_to "Get Started", twitter_auth_url, :class => "button"
