= render "header", :howitworks => true
.title-wrap
  %h1 Your followers can buy without leaving Twitter.
  %span Try it out below.
.main-wrap
  = render partial: "contents/sample", :content => @content_sample
//= link_to "Get Started", twitter_auth_url, :class => "button"
