.onboard-wrap, .title-wrap {
  margin: 0 auto;
  text-align: center;

  h1 {
    font-weight: 300;
  }
}

$card-width: 290px;
$padding-width: 15px;

.index-wrap {
  margin: 0 auto;
  max-width: 960px;
  @include clearfix;

  .product-wrapper {
    border: 1px solid $border-gray;
    border-radius: $border-radius;
    float: left;
    width: $card-width;
    height: 220px;
    //padding: 10px 10px;
    margin: 15px 15px;

    &:hover {
      
      -moz-box-shadow: 2px 2px 5px $background-gray; 
      -webkit-box-shadow: 2px 2px 5px $background-gray; 
      box-shadow: 2px 2px 5px $background-gray;
      
      position: relative;
      top: -1px;
    }
  }

  .product-image {
    background: $background-gray;
    width: $card-width - 2px;
    height: 150px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    overflow: hidden;
    white-space: nowrap;

    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;

    .helper {
      margin: 0;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      word-spacing: -1;
    }

    img {
      width: $card-width;
      height: auto;
      vertical-align: middle;
    }

    .photo-icon {
      color: blue;
      margin: 0 auto;
      margin-top: 50px;
      width: 30px;
      height: 30px;
      background-size: 100% auto;
      background-image: image-url("photo.svg");
    }

    .no-image {
      color: #777;
      line-height: 2em;
      font-weight: 500;
      margin: 0 auto;
      text-align: center;
      font-size: initial;
      letter-spacing: initial;
      word-spacing: initial;
    }
  }

  .title {
    padding: 0px 12px;
    margin-top: 10px;
    font-weight: 500;
  }

  .price-active {
    padding: 0px 12px;
    font-weight: 300;
    color: #666;
    font-weight: 500;

    .price {
      float: left;
      width: 40%;
    }
    .status {
      line-height: 2em;
      font-size: 0.85em;
      text-align: right;
      float: right;
      width: 40%;
      text-transform: uppercase;
    }
    .draft {
      color: #999;
    }
    .active {
      color: $yeti-green;
    }
    .inactive {
      color: $error-red;
    }
  }

  .desc {
    padding: 10px 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .index-wrap {
    max-width: 2 * $card-width + 4 * $padding-width;
  }
}

@media only screen and (max-width: 650px) {
  .index-wrap {
    max-width: $card-width + 2 * $padding-width;
  }
  .title-wrap a {
    display: block;
  }
}

// Hacky reply footer stuff

[type=checkbox] {
  display: none;
}

label > * { pointer-events: none; }

:checked + div {
  display: block !important;
}
