*, *:after, *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}

.header {
  width: 100%;
  height: 60px;
  .inner {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 60px;
  }
  
  a {
    display:block;
    font-weight: 300;
    height: 100%;
    //width: 100%;
    line-height: 60px;
    color: #444;
    text-decoration: none;
  }

  .logo {
    font-weight: 300;
    float: left;
    line-height: 60px;
    font-size: 1.8em;
    color: #444;
  }

  .right {
    font-weight: 300;
    float: right;
    line-height: 60px;
    color: #444;
  }

  .user-menu {
    //width: 250px;
    .tiny-icon {
      float: right;
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-top: 18px;
      //border: 3px solid darken(#e1e8ed,5);
    }
    .username {
      font-weight: 500;
      padding-left: 0.5em;
      float: right;
      text-align: right;
      display: inline-block;
    }
  }

  .navmenu {
    float: right;
  }

  ul {
    list-style: none;
    padding: 0;
    width: 450px;
    float: right;

    li {
      float: right;
      padding-right: 2em;

      a {
        display:block;
        font-weight: 500;
        height: 100%;
        width: 100%;
        line-height: 60px;
        color: #444;
        text-decoration: none;

        transition: color 0.2s ease;
        &:hover {
          color: $accent-color;
        }
      }

      .active {
        color: $accent-color;
      }
    }

    .button {
      border: 2px solid $accent-color;
      text-align: center;
      border-radius: 6px;
      padding: 0 10px;
      height: 36px;
      //height: 36px;
      //width: 60px;
      margin-top: 10px;
      line-height: 38px;

      transition: all 0.1s ease;
      &:hover {
        border: 1px solid $accent-color;
      }
    }

    .open-button {
      border: 2px solid #444;//$accent-color;
      text-align: center;
      border-radius: 6px;
      padding: 0 10px;
      height: 39px;
      //height: 36px;
      //width: 60px;
      margin-top: 10px;
      line-height: 36px;

      transition: all 0.1s ease;
      &:hover {
        border: 2px solid $accent-color;
      }
    }
  }

  .dropdown {
    display: none;
    position: absolute;
    top: 60px;
    z-index: 11;
    border: 1px solid $border-gray;
    border-radius: 6px;
    background: white;
    width: 135px;
    padding: 10px 0;
    //height: 135px;

    -moz-box-shadow: 2px 2px 5px $background-gray; 
    -webkit-box-shadow: 2px 2px 5px $background-gray; 
    box-shadow: 2px 2px 5px $background-gray;

    &:after, &:before {
      bottom: 100%;
      left: 35%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: $border-gray;
      border-width: 11px;
      margin-left: -11px;
    }

    ul {
      float: none;
      display: block;
      margin: 0;

      li {
        float: none;
        display: block;
        width: 135px;
        //border-bottom: 1px solid $border-gray;

        a {
          padding: 0 15px;
          font-weight: 400;
          height: 35px;
          line-height: 35px;
          width: 150px;
        }

        .subtle {
          color: #999;
        }
      }
    }
  }
}

.sticky {
  background: white;
  position: fixed;
  top: 0;
  bottom: auto;
}