
$jarvis-font: "proxima-nova";

html {
  font-size: 62.5%;
  //font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

body {
  font-size: 1.6rem;
  line-height: 1.5em;

  @media (max-width: $transition-width) {
    font-size: 1.3rem;
  }
}

h1, h2, h3 {
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.2rem;
  margin-bottom: 0.25rem;
  line-height: 1.4em;
}

h1 {
  font-size: 2.0em;
  line-height: 1.2em;
  margin-bottom: 0.75em;
  margin-top: 1em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
}

h3 {
  font-weight: bold;
  font-size: 1em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1em;
}

p + p {
  margin-top: 1em;
}

p, ul, dl, table, pre {
  margin-bottom: 1em;
}

ul {
  list-style: disc inside;
}
