$accent-color: #0392D9;
$border-radius: 6px;
$error-red: lighten(#E74C3C,5);

* {
  margin: 0;
}

html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
}

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #444;
}

h1 {
  font-weight: 300;
  margin-top: 0.8em;
  margin-bottom: 1em;
}

.active {
  color: $accent-color;
  //text-decoration: underline;
}

.static-container {
  width: 700px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  h1 {
    text-align: center;
  }
  .button {
    margin: 0 auto;
    color: white;
    background-color: $accent-color;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    width: 180px;
    margin-top: 10px;
    line-height: 38px;

    transition: all 0.2s ease;
    &:hover {
      //border: 1px solid $accent-color;
    }
  }
  ol {
    list-style-type: none;
    margin: 60px 0;
    position: relative;
  }
  .about-container {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #000;
  }
  .col-number {
    color: #ededed;
    font-size: 80px;
    width: 80px;
    display: inline-block;
  }
  .col-tip {
    display: inline-block;
    font-size: 20px;
    .tip-header {
      display: block;
      font-weight: 500;
      color: #000;
    }
    .tip-body {
      display: block;

    }
  }
}

.about-wrapper {
  margin-top: 300px;
}

.top-container {
  //background-color: #f6f8fa;//$accent-color;
  //height: 450px;
  height: 250px;

  h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    margin-top: 3em;
  }
}

a.button {
  display:block;
  font-weight: 500;
  height: 100%;
  width: 100%;
  line-height: 60px;
  text-decoration: none;

  &:active {
    position: relative;
    top: 1px;
  }
}

.full-container {
  position: relative;
  height: 500px;
  //background-color: #f6f8fa;

  .button {
    margin: 0 auto;
    color: white;
    background-color: $accent-color;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    width: 180px;
    margin-top: 10px;
    line-height: 38px;

    transition: all 0.2s ease;
    &:hover {
      //border: 1px solid $accent-color;
    }
  }
}

.content-wrapper {
  margin: 0 auto;
  width: 800px;
  text-align: center;

  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
}

.tweet-wrap {
  background-color: white;
  margin: 0 auto;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  padding: 2px 2px;
  width: 600px;

  position: absolute;
  z-index: 10;
  top: -150px;
  left: 0;
  right: 0;
}

.info-wrap {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
}

header {
  margin: 0 auto;
  width: 1000px;
  height: 60px;

  a {
    display:block;
    font-weight: 300;
    height: 100%;
    width: 100%;
    color: #444;
    line-height: 60px;
    text-decoration: none;
  }

  .logo {
    font-weight: 300;
    float: left;
    line-height: 60px;
    font-size: 1.5em;
  }

  ul {
    list-style: none;
    padding: 0;
    width: 350px;
    float: right;

    li {
      float: left;
      padding-right: 2em;

      a {
        display:block;
        font-weight: 500;
        height: 100%;
        width: 100%;
        line-height: 60px;
        text-decoration: none;

        transition: color 0.2s ease;
        &:hover {
          color: $accent-color;
          //text-decoration: underline;
        }
      }
    }

    .button {
      border: 2px solid #444;//$accent-color;
      text-align: center;
      border-radius: 6px;
      padding: 0 10px;
      height: 36px;
      //height: 36px;
      //width: 60px;
      margin-top: 10px;
      line-height: 38px;

      transition: all 0.2s ease;
      &:hover {
        border: 2px solid $accent-color;
      }
    }
  }
}

.add-product-wrap {
  background: white;
  margin: 0 auto;
  margin-top: 35px;
  text-align: center;

  max-width: 480px;
  height: 510px;
  border: 1px solid darken(#e1e8ed, 5);
  border-radius: $border-radius;

  .input-image {
    height: 200px;
    width: 100%;
    background-color: lighten(#e1e8ed, 5);
    border-bottom: 1px solid darken(#e1e8ed, 5);
    font-weight: 500;
    line-height: 200px;
    color: #888;
  }

  .dropzone {
    height: 200px;
    width: 100%;
    background-color: lighten(#e1e8ed, 5);
    border: none;
    border-bottom: 1px solid darken(#e1e8ed, 5);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: 500;
    line-height: 100px;
    color: #888;

    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

    .dz-message {
      margin-top: 50px;
    }

    .camera-icon {
      margin: 0 auto;
      margin-bottom: -30px;
      width: 30px;
      height: 30px;
      background-size: 100% auto;
      background-image: image-url("photo.svg");
    }

    .dz-preview.dz-image-preview {
      background-color: lighten(#e1e8ed, 5);
    }

    .dz-image, .dz-details {
      display: none;
    }

    .dz-progress {
      background: white;
      width: 478px;
      margin-left: -239px;
      height: 4px;
      border-radius: 0px;
      margin-top: 109px;
      .dz-upload {
        background: $accent-color;
        //background: linear-gradient(to bottom, #ebe, #111);
      }
    }
  }
}


input[type="submit"] {
  display:block;
  font-weight: 500;
  height: 100%;
  width: 100%;
  line-height: 45px;
  text-decoration: none;
  background-color: $accent-color;
  border: none;
  border-radius: $border-radius;
  text-align: center;

  margin: 0 auto;
  margin-top: 35px;
  text-decoration: none;
  color: white;
  width: 120px;
  outline: none;

  &:active {
    position: relative;
    top: 1px;
  }
}

.input-row {
  //@include clearfix;
  width: 100%;
  border-bottom: 1px solid darken(#e1e8ed, 5);

  &:last-of-type {
    border-bottom: none;
  }

  input {
    width: 95%;
    border: none;
    height: 50px;
    padding-left: 0.5em;
    outline: none;
    color: #333;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  .dollar {
    font-size: 1em;
    font-weight: 300;
    font-family: Arial;
  }

  .price {
    width: 82%;
  }

  textarea {
    height: 250px;
    width: 100%;
    padding: 1em 1em;
    outline: none;
    border: none;
    color: #333;

    &:focus {
      //background-image: none;
    }
  }

  .title {
    font-weight: 500;
  }
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.field-error {
  &::-webkit-input-placeholder {
    color: $error-red;
  }
  &:-moz-placeholder {
      /* FF 4-18 */
      color: $error-red;
  }
  &::-moz-placeholder {
      /* FF 19+ */
      color: $error-red;
  }
  &:-ms-input-placeholder {
      /* IE 10+ */
      color: $error-red;
  }
}

.col1 {
  float: left;
  width: 22%;
}

.col3 {
  float: left;
  width: 78%;
}
